/*header*/
header
{
    display: inline-block;
    background-color: aliceblue;
    width: 100%;
    
}

#imagenprincipal
{
    display: inline-block;
    width: 100%;
    height: 10%;
}

#imagenprincipal img
{
     width: 100%;
    height: 150px;
}
#logo
{
    display: inline-block;
    margin-left: 50px;
        
}

#logo img
{
    width: 40%;
    height: 150px;
}

#menucabezera
{
    display:inline-block;
    width: 50%;
    position: absolute;
    left: 150px;
    top: 250px;
        
    
}
#menucabezera li
{
    display: inline;
    margin-left: 5%;
}
#menucabezera li a
{
    height: 32px;	 
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}
#buscar
{
    display: inline-block;
    position: relative;
    top: 40px;
    right:-50%;
    border: 2px black solid;
    vertical-align: top;
    
}

#buscar form input
{
    color: blue;
}

#entrar
{
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 250px;
}
#entrar a
{
    height: 32px;	 
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}

/*noticias*/

#noticias
{
    display: inline-block;
    width: 80%;
    /*background-color: blue;*/
    
}
#noticias article
{
    display: inline-block;
    width: 40%;
    border:2px black solid;
    margin: 15px;
    
}
#noticias article img
{
    width: 80%;
    height: 200px;
    position: relative;
    left: 30px;
    top:10px;
}
#noticias article h4
{
    position: relative;
    left:40%;
    color: firebrick;
}

/*lateral*/

#lateral
{
    display: inline-block;
    position: absolute;
    top:370px;
    width: 30%;
    right: 1%;
    height: 20%;
    
}

#destacados
{
    display: block;
    border: 2px black solid;
    margin: 25px;
    
}

#encuestas
{
    display: block;
    border: 2px black solid;
     margin: 25px;
}

/*conciertos*/

#conciertos
{
    display:inline-block;
    border: 2px black solid;
    width: 90%;
    padding: 1%;
    background-color: #0099cc;

    
}
#listaconciertos
{
    display: inline-block;
     border: 2px black solid;
    width: 40%;
    height: 210px;
   vertical-align: top;
   margin-left: 10%;
   background-color: #990099;
}
#listaconciertos ol a
{
    color: #33ff00;
}
#imagenconcierto1
{
    display: inline-block;
    width: 40%;
    border: 2px black solid;
     margin-left: 5%;
     vertical-align: top;
    
}
#imagenconcierto1 img
{
    width: 100%;
    height: 210px;
}

/*footer*/

#footer
{
    display: inline-block;
    width: 100%;
    background-color: #009999;
    margin-top: 2%;
    vertical-align: top;
}


#contactos
{
    display: inline-block;
    
    
}
#nosotros
{
    display: inline-block;


}