#formulariolocal
{
    display: inline-block;
    text-align: center;
    width: 60%;
    border: 2px black solid;
    margin-left: 210px;
    margin-top: 25px;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
    
}
#formulariolocal h3
{
    text-align: center;
}
#formulariolocal input
{
    margin: 20px;
}
#datosusuario
{
    display: inline-block;
    width: 100%;
   
    
   
}
#datoslocal
{
    display: inline-block;
   width: 100%;
  
   
   
}
