    #body
    {
        display: inline-block;
        width: 40%;
        border: 2px black solid;
        
    }
    article
    {
        display: inline-block;
        border: 2px #000000 solid;
        width: 48%;
        height: 100px;
        /*height: 80px;*/
        margin-right:px;
        padding: 0px;
        
    }
    article h3
    {
        text-align: center;
    }