/*header*/
header
{
    display: inline-block;
    background-color: aliceblue;
    width: 100%;
    height: 250px;
    
}

#imagenprincipal
{
    display: inline-block;
    width: 100%;
    height: 40%;
}

#imagenprincipal img
{
     width: 100%;
    height: 150px;
}
#logo
{
    display: inline-block;
    margin-left: 50px;
    position: relative;
    top: -160px;
        
}

#logo img
{
    width: 40%;
    height: 150px;
}

#menucabezera
{
    display:inline-block;
    width: 60%;
    position: absolute;
    left: 20px;
    top: 180px;
    background-color: #990099;
  
    
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        
    
}
#menucabezera li
{
    display: inline;
    margin: 2%;
    
}
#menucabezera li a
{
    height: 32px;	 
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
    color: #33ffcc;
    
}
#buscar
{
    display: inline-block;
    position: absolute;
    top: 170px;
   right: 2%;
    /*border: 2px black solid;*/
    vertical-align: top;
    
}

#buscar form input
{
    color: blue;
    
}

#entrar
{
    display: inline-block;
    position: absolute;
    right: 2%;
    top: 210px;
    
   
}
#entrar a
{
    height: 32px;	 
    voice-family: inherit;
    height: 24px;
    text-decoration: none;
}

/*noticias*/

#noticias
{
    display: inline-block;
    width: 80%;
    /*background-color: blue;*/
    
}
#noticias h3{
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    margin: 17px;
    width: 125%;
    background-color:  #0000cc;
    
}

#noticias article
{
    display: inline-block;
    width: 40%;
    border:2px black solid;
    margin: 15px;
    
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
#noticias article img
{
    width: 80%;
    height: 200px;
    position: relative;
    left: 30px;
    top:10px;
}
#noticias article h4
{
    position: relative;
    left:40%;
    color: firebrick;
}

/*lateral*/

#lateral
{
    display: inline-block;
    position: absolute;
    top:370px;
    width: 30%;
    right: 1%;
    height: 20%;
    
}
#lateral h3
{
    text-align: center;
}

#destacados
{
    display: block;
    border: 2px black solid;
    margin: 25px;
    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

#encuestas
{
    display: block;
    border: 2px black solid;
     margin: 25px;
     
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

/*conciertos*/

#conciertos
{
    display:inline-block;
    border: 2px black solid;
    width: 90%;
    padding: 1%;
    background-color: #0099cc;

    
}
#conciertos h3
{
    text-align: center;
}
#listaconciertos
{
    display: inline-block;
     border: 2px black solid;
    width: 40%;
    height: 210px;
   vertical-align: top;
   margin-left: 10%;
   background-color: #990099;
   
   
   -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#listaconciertos ol a
{
    color: #33ff00;
}
#imagenconcierto1
{
    display: inline-block;
    width: 40%;
    border: 2px black solid;
     margin-left: 5%;
     vertical-align: top;
     
     
     -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}
#imagenconcierto1 img
{
    width: 100%;
    height: 210px;
}

/*footer*/

#footer
{
    display: inline-block;
    width: 100%;
    background-color: #009999;
    margin-top: 2%;
}

#legal
{
    display: inline-block;
    
}
#legal ul
{
   
    text-decoration: none;
}
#contactos
{
    display: inline-block;
    position: relative;
    left: 250px;
}
#nosotros
{
    display: inline-block;
     position: relative;
   left: 500px;
}