#rmusic{
    display: inline-block;
    width: 90%;
    background-color: #9999ff;
    border: 2px;
    border-color: black;
    margin-left: 5%;
}

#formulario1{
    display: inline;
}

#formulario2{

    display: inline;
}
.datos{
    margin-left: 20%;
    display: inline-block;

}

.estado{

    display: inline;
   
}
.estado img{
    width: 25%;
    height: 25%;
}

.datos2{
    margin-left: 20%;
    display: inline-block;

}

.estado2{

    display: inline;

}
.estado2 img{
    width: 25%;
    height: 25%;
}
